<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Administrateur</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Bienvenue, Administrateur</h1>
    </header>
    <main class="main-content">
        <p>Vous êtes connecté en tant qu'administrateur.</p>
        <nav>
            <a href="/admin/manage-ajouterEtudiant">Ajouter les étudiants</a>
            <a href="/admin/manage-ajouterEnseignant">Ajouter les enseignants</a>
            <a href="/admin/manage-listeEtudiant">Liste des étudiants</a>
            <a href="/admin/manage-listeEnseignant">Liste des enseignant</a>
            <a href="/admin/manage-inscription">Ajouter une inscription</a>
            <a href="/admin/manage-listInscriptions">Lister les inscriptions</a>
            <a href="/admin/manage-ajouterResultat">Ajouter un résultat</a>
            <a href="/admin/manage-listResultat">Lister les résultats</a>
            <a href="/admin/manage-ajouterCours">Ajouter un cours</a>
            <a href="/admin/manage-listCours">Liste des cours</a>
            <a href="/logout">Se déconnecter</a>
        </nav>
    </main>
</body>
</html>
