<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer Enseignant</title>
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/styles.css}">
    <script>
        function filterUsers() {
            // Définir les filtres
            var nameFilter = document.getElementById('nameFilter').value.toLowerCase();
            var prenomFilter = document.getElementById('prenomFilter').value.toLowerCase();
            var emailFilter = document.getElementById('emailFilter').value.toLowerCase();
            
            // Sélectionner toutes les lignes avec la classe userRow
            var rows = document.querySelectorAll('table tr.userRow');
            
            rows.forEach(function(row) {
                var name = row.querySelector('td.name').textContent.toLowerCase();
                var prenom = row.querySelector('td.prenom').textContent.toLowerCase();
                var email = row.querySelector('td.email').textContent.toLowerCase();
        
                if (name.includes(nameFilter) && prenom.includes(prenomFilter) && email.includes(emailFilter)) {
                    row.style.display = ''; // Afficher la ligne
                } else {
                    row.style.display = 'none'; // Masquer la ligne
                }
            });
        }
    </script>
</head>
<body>

<nav>
    <a href="#" th:href="@{/logout}">Se déconnecter</a>
</nav>

<h1>Créer Enseignant</h1>

<!-- Affichage des erreurs -->
<div th:if="${not #lists.isEmpty(errors)}">
    <div class="error">
        <ul>
            <li th:each="error : ${errors}" th:text="${error.value}"></li>
        </ul>
    </div>
</div>

<!-- Formulaire de création d'un étudiant -->
<form action="#" th:action="@{/admin/add-enseignant}" method="post">
    <input type="hidden" name="role" value="etudiant" required>

    <!-- Nom -->
    <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" name="nom" id="nom" th:value="${param.nom}" required>
        <div th:if="${errors != null and errors['nom'] != null}" class="error">
            <span th:text="${errors['nom']}"></span>
        </div>
    </div>

    <!-- Prénom -->
    <div class="form-group">
        <label for="prenom">Prénom:</label>
        <input type="text" name="prenom" id="prenom" th:value="${param.prenom}" required>
        <div th:if="${errors != null and errors['prenom'] != null}" class="error">
            <span th:text="${errors['prenom']}"></span>
        </div>
    </div>

    <!-- Date de Naissance -->
    <div class="form-group">
        <label for="dateNaissance">Date de Naissance:</label>
        <input type="date" name="dateNaissanceStr" id="dateNaissanceStr" th:value="${param.dateNaissanceStr}" required>
        <div th:if="${errors != null and errors['dateNaissance'] != null}" class="error">
            <span th:text="${errors['dateNaissance']}"></span>
        </div>
    </div>

    <!-- Email -->
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" th:value="${param.email}" required>
    </div>

    <div class="form-group">
        <input type="submit" value="Créer">
    </div>
</form>


<!-- Liens de navigation -->
<a href="#" th:href="@{/admin/manage-listeEnseingnant}">Retour à la liste des étudiants</a>
<br>
<a href="#" th:href="@{/admin}">Retour Accueil</a>

</body>
</html>