<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Inscriptions</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Gestion des Inscriptions</h1>
    </header>
    <main class="main-content">
        <!-- Afficher un message s'il n'y a aucune inscription -->
        <div th:if="${inscriptions.isEmpty()}">
            <p>Aucune inscription disponible.</p>
        </div>
        
        <!-- Afficher la liste des inscriptions -->
        <table th:if="${!inscriptions.isEmpty()}" border="1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Étudiant</th>
                    <th>Matière</th>
                    <th>Date d'inscription</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="inscription, iterStat : ${inscriptions}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${inscription.etudiant.nom + ' ' + inscription.etudiant.prenom + ' (' + inscription.etudiant.email + ')'}"></td>
                    <td th:text="${inscription.matiere.nom}"></td>
                    <td th:text="${inscription.id.dateInscription}"></td> <!-- Formatage de la date -->
                    <td>
                        <a th:href="@{'/admin/delete-inscription/' + ${inscription.id}}">Supprimer</a>
                      </td>
                </tr>
            </tbody>
        </table>
        <a href="/admin">Retour à l'accueil</a>
    </main>
</body>
</html>
