<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Enseignant</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <nav>
        <a href="/enseignant">Accueil</a>
        <a href="/ListInscriptionServlet">Mes Étudiants</a>
        <a href="/listResultats">Voir les Résultats</a>
        <a href="/addResultat">Ajouter Résultat</a>
        <a href="/logout">Se déconnecter</a>
    </nav>
</header>

<div class="main-content">
    <h1>Bienvenue sur votre Espace Enseignant, <!-- nom et prénom utilisateur --> </h1>

    <section class="emploi-du-temps">
        <h2>Votre Emploi du Temps</h2>
        <div id='calendar'></div>
    </section>
</div>
</body>
</html>
