<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Connexion à la base de données -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/javaee</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialecte -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuration de la session -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <!-- Mapping des classes -->
        <mapping class="jeeprojet.application.Modele.Utilisateur"/>
        <mapping class="jeeprojet.application.Modele.Cour"/>
        <mapping class="jeeprojet.application.Modele.Inscription"/>
        <mapping class="jeeprojet.application.Modele.Matiere"/>
        <mapping class="jeeprojet.application.Modele.Resultat"/>
        <mapping class="jeeprojet.application.Modele.Classe"/>
        <mapping class="jeeprojet.application.Modele.Salle"/>
    </session-factory>
</hibernate-configuration>
